<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="JorgeAgui" />
            <add key="ClearTextPassword" value="01b1b441e58cd2dd143e4a2fd0d5191c47d44162" />
        </github>
    </packageSourceCredentials>
</configuration>